<br>
<div class="container">
    <div class="row">
        <!-- about company -->
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 p-r-50">
            <div class="section-heading text-center">
                <h2 class="section-name">
                    <span class="Anpan">Anpan </span>
                    <span class="System">Tech</span>
                </h2>
                <hr>
                <p class="section-para">Because we deliver the best</p>
            </div>
            <div class="about-content text-justify">
                            <p>Anpan Tech is a renowned
            <span class="f-w-600">mobile app development company & the
best IT Software Solutions provider based in New York, USA & India, established in 2011.
Apart from this, we also have sales offices in California, USA & Dubai, UAE.
            </span>
            </p>
            <p>
                <span class="f-w-600">Anpan</span>
                <span class="f-w-600">Tech</span>
                is well known to craft the most innovative & eye catchy mobile apps & websites.
                 We offer a wide range of customized services in mobile apps, website development, 
                 AR-VR Development, Game Development, Blockchain Development and much more. Our skilled
                  team & our products are engineered to bring growth to your business. We believe in
                   delivering the services without compromising on time and quality.
            </p>
            </div>
        </div>

        <!-- work done by company -->
        <div class="col-lg-7 col-md-7 col-xs-12">
            <div class="row al-row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <a href="#" class="home-services-item mtop-70" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    
                    <h5 class="services-title">15+</h5>
                    <p>Years Experience in Mobile App Design and Development</p>
                    </a>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <a href="#" class="home-services-item mtop-70" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    
                    <h5 class="services-title">32000+</h5>
                    <p>Android Apps developed based on Machine Learning</p>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <a href="#" class="home-services-item mtop-70" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    
                    <h5 class="services-title">50000+</h5>
                    <p>Websites developed for various companies around the globe</p>
                    </a>
                </div>

                
            </div>
        </div>

        <!-- company achievements -->
        <section class="know_who_main parallex"  >
            <div class="container">
                <div class="row1 backimg">
                    <div class="col-md-3">
                        <div class="counter h6">
                            <div class="counter-number">
                                <div>15+</div>
                                
                            </div>
                            <div class="counter-title">
                                Years of experiance
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 w_50">
                        <div class="counter h6">
                        <div class="counter-number">
                        <div>5000+</div>
                        </div>
                        <div class="counter-title">Happy Clients</div>
                        </div>
                        </div>
                        <div class="col-md-3 w_50">
                            <div class="counter h6">
                            <div class="counter-number">
                            <div>10000+</div>
                            </div>
                            <div class="counter-title">Solutions developed</div>
                            </div>
                            </div>
                            <div class="col-md-3 w_50">
                                <div class="counter h6">
                                <div class="counter-number">
                                <div>700+</div>
                                </div>
                                <div class="counter-title">Developers</div>
                                </div>
                                </div>
                                <div class="col-md-3 w_50">
                                    <div class="counter h6">
                                    <div class="counter-number">
                                    <div>10+</div>
                                    </div>
                                    <div class="counter-title">Countries</div>
                                    </div>
                                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- process we follow -->
    
<section class="section pt80-pb60 bg-light">
    <div class="text-center">
        <h2 class="section-name">
            Process We Follow
        </h2>
    </div>
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">Requirement Gathering</h4>
                   <p>Requirement gathering is the first and very important part of our mobile app development process`</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
               <div class="process-content text-center">
                  <h4 class="process-title f-w-600">UI/UX Design</h4>
                  <p>We create eye catchy design with the help of latest tools of designing</p>
               </div>
           </div>

           <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
               <div class="process-content text-center">
                  <h4 class="process-title f-w-600">Prototype</h4>
                  <p>After designing, the prototype of your app gets ready which is sent for development then</p>
               </div>
           </div>
           <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
               <div class="process-content text-center">
                  <h4 class="process-title f-w-600">App Development</h4>
                  <p>The Development gets started on the preferable platforms with complete transparency.</p>
               </div>
           </div>
           <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
               <div class="process-content text-center">
                  <h4 class="process-title f-w-600">Quality Assurance</h4>
                  <p>We do not compromise in quality so we make sure you get 100% bug free app.</p>
               </div>
           </div>
           <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
               <div class="process-content text-center">
                  <h4 class="process-title f-w-600">Deployment</h4>
                  <p>Your app is ready to appear on the App store or Play store on this stage of Development.</p>
               </div>
           </div>
           <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
               <div class="process-content text-center">
                  <h4 class="process-title f-w-600">Support & Maintenance</h4>
                  <p>We give support & answer every query after deployment.</p>
               </div>
           </div>
        </div>
    </div>
</section>

    <!-- owner's info starts -->
    <div class="row">
    <div class="card" style="width: 18rem; border: none;">
        <img class="card-img-top rounded-circle" style="width: 150px; height: 150px; text-align: center;" src="assets/utk.jpg"  alt="Card image cap">
        <div class="card-body">
          
          <p class="card-text">Through his immense knowledge in business management and IT, he crafts the best solutions to effectively implement innovation in technology that really works the best.</p>
          <div>Utkarsh Gupta</div>
          <small>CEO</small>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none;">
        <img class="card-img-top rounded-circle" style="width: 150px; height: 150px; text-align: center;" src="assets/srk.jpg"  alt="Card image cap">
        <div class="card-body">
          
          <p class="card-text">Success and failure are both part of life. Both are not permanent. We have built this company after many failures. Here at Anpan we believe in working hard and smart</p>
          <br>
          <div>Shahrukh Khan</div>
          <small>Managing Director</small>
        </div>
      </div>
    </div>

    <!-- our key features -->
    <div class="row featcol">
        <div class="col-md-12">
            <h2 class="section-name">
                "Our key features"
            </h2>
            <p class="section-para">
                Services that we deliver make us the best company in the tech world
            </p>
            <div class="col-lg-4 col-md-4">
                <img src="assets/smartphone.png" style="height:25rem;">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="display: flex">
                            <div class="key-block" style="box-sizing: border-box;">
                                <div>
                                    <h3>1.Client centric development</h3>
                                    <p>We are the one that leverages best ever web, mobile & blockchain solutions to the clients by tailoring as per their business requirements.</p>
                                </div>
                            </div>
                            <div class="key-block">
                                <div>
                                    <h3>2. Agile Development</h3>
                                    <p>We follow Agile Development process that helps us to deliver the project with utmost quality and solid product</p>
                                </div>
                            </div>
                            <div class="key-block">
                                <div>
                                    <h3>3. Dedicated Development Team</h3>
                                    <p>We assign a cost-effective dedicated team to all our projects that not only assures quality but gives excellent support and satisfaction to our valuable clients.</p>
                                </div>
                            </div>
                            <div class="key-block">
                                <div>
                                    <h3>4. Excellent Support</h3>
                                    <p>We are always there to assist our clients in every possible manner at each project phase. Our technical team works hard to ensure that the final product meets clients' expectations.</p>
                                </div>
                            </div>
                            <div class="key-block">
                                <div>
                                    <h3>5. Data Backups</h3>
                                    <p>Regular backup has helped us to survive in most extreme conditions. We carefully maintain clients project backups to deal with misfortunes in the best possible manner.</p>
                                </div>
                            </div>
                            <div class="key-block">
                                <div>
                                    <h3>6. Data Protection</h3>
                                    <p>By signing NDA, our company ensures the utmost safety of all your private data. We deliver best-rated products to our fortune clients by maintaining confidentiality.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>