
<section class="section pt80-pb60 bg-light">
     <div class="text-center">
         <h2 class="section-name">
             Process We Follow
         </h2>
     </div>
     <div class="container">
         <div class="row" style="align-items: center;">
             <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                 <div class="process-content text-center">
                    <h4 class="process-title f-w-600">Requirement Gathering</h4>
                    <p>Requirement gathering is the first and very important part of our mobile app development process`</p>
                 </div>
             </div>

             <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">UI/UX Design</h4>
                   <p>We create eye catchy design with the help of latest tools of designing</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">Prototype</h4>
                   <p>After designing, the prototype of your app gets ready which is sent for development then</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">App Development</h4>
                   <p>The Development gets started on the preferable platforms with complete transparency.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">Quality Assurance</h4>
                   <p>We do not compromise in quality so we make sure you get 100% bug free app.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">Deployment</h4>
                   <p>Your app is ready to appear on the App store or Play store on this stage of Development.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-4 m-b-30">
                <div class="process-content text-center">
                   <h4 class="process-title f-w-600">Support & Maintenance</h4>
                   <p>We give support & answer every query after deployment.</p>
                </div>
            </div>
         </div>
     </div>
</section>