<br>
<div>
  
  <h2 class="text-center">Our Clients</h2>
    
    <div style="display: inline-flex;" class=" active setting">
      
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/Samsung.jpg" alt="First slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/tweet.jpg" alt="eight slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/lenovo.png" alt="Second slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/reliance-industries-logo.jpg" alt="Third slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/asus.jpeg" alt="fourth slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/tech-mahindra.jpg" alt="Fifth slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/quick-heal-antivirus.png" alt="sixth slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/tcs.jpg" alt="seventh slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/infosys.png" alt="eight slide">
      <img class="d-block w-25 img-fluid rounded mx-auto d-block" src="assets/burger.jpg" alt="eight slide">
      
  </div>
  </div>

  