
<div class="gif bg">
  <br>
  <br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active setting">
        <img class="d-block w-65 img-fluid rounded mx-auto d-block" src="assets/ai.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            
            <p>Ranked #1 in Artificial Intelligence in Japan and India</p>
          </div>
    </div>
      <div class="carousel-item setting">
        <img class="d-block w-65 img-fluid rounded mx-auto d-block" src="assets/blockchain.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            
            <p>Ranked #1 in block chain technology in Japan and India</p>
        </div>
      </div>
       <div class="carousel-item setting">
        <img class="d-block w-65 img-fluid rounded mx-auto d-block" src="assets/machine1.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            
            <p>Ranked #1 in Machine Learning in Japan and India</p>
        </div>
       </div>
    </div>
    
    
  </div>
</div>